In [19]:
#                               Netflix data analysis and visualization
#import libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
# Load the dataset
df = pd.read_csv(r"C:\Users\kriti\Downloads\netflix1 (1).csv")
print("Dataset loaded successfully.")

Dataset loaded successfully.

In [21]:
print("Original Data Info:")
df.info()

Original Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [22]:
# Step 2: Data Cleaning
df.replace('Not Given', np.nan, inplace=True)

# Fix FutureWarning by reassigning instead of inplace=True
df['director'] = df['director'].fillna('No Director')
df['country'] = df['country'].fillna('United States')

df.dropna(subset=['date_added', 'rating'], inplace=True)
df.drop_duplicates(inplace=True)

In [23]:
# Convert 'date_added' to datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Create 'year_added' if not already present
if 'year_added' not in df.columns:
    df['year_added'] = df['date_added'].dt.year

print("\nCleaned Data Info:")
df.info()

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   datetime64[ns]
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
 10  year_added    8790 non-null   int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(8)
memory usage: 721.2+ KB

In [24]:
print(df.columns.tolist())

['show_id', 'type', 'title', 'director', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'year_added']

In [25]:
#Step 3: Exploratory Data Analysis (EDA)
# 3.1 Count of Movies vs TV Shows
content_type_counts = df['type'].value_counts()
print("\nMovie vs. TV Show Distribution:")
print(content_type_counts)

Movie vs. TV Show Distribution:
type
Movie      6126
TV Show    2664
Name: count, dtype: int64

In [26]:
# 3.2 Top 10 countries with most content
top_countries = df['country'].value_counts().head(10)
print("\nTop 10 Content Producing Countries:")
print(top_countries)

Top 10 Content Producing Countries:
country
United States     3527
India             1057
United Kingdom     638
Pakistan           421
Canada             271
Japan              259
South Korea        214
France             213
Spain              182
Mexico             138
Name: count, dtype: int64

In [27]:
# 3.3 Top 10 directors
top_directors = df['director'].value_counts().head(10)
print("\nTop 10 Directors by Content Count:")
print(top_directors)

Top 10 Directors by Content Count:
director
No Director               2588
Rajiv Chilaka               20
Alastair Fothergill         18
Ra√∫l Campos, Jan Suter      18
Suhas Kadav                 16
Marcus Raboy                16
Jay Karas                   14
Cathy Garcia-Molina         13
Martin Scorsese             12
Youssef Chahine             12
Name: count, dtype: int64

In [28]:
# 3.4 Ratings distribution
rating_counts = df['rating'].value_counts()
print("\nContent Ratings Distribution:")
print(rating_counts)

Content Ratings Distribution:
rating
TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64

In [29]:
# 3.5 Content added by year
yearly_content = df['year_added'].value_counts().sort_index()
print("\nContent Added per Year:")
print(yearly_content)

Content Added per Year:
year_added
2008       2
2009       2
2010       1
2011      13
2012       3
2013      11
2014      24
2015      82
2016     426
2017    1185
2018    1648
2019    2016
2020    1879
2021    1498
Name: count, dtype: int64

In [30]:
# 3.6 Top genres (from 'listed_in')
all_genres = df['listed_in'].str.split(',').explode().str.strip()
top_genres = all_genres.value_counts().head(10)
print("\nTop 10 Genres:")
print(top_genres)

Top 10 Genres:
listed_in
International Movies        2752
Dramas                      2426
Comedies                    1674
International TV Shows      1349
Documentaries                869
Action & Adventure           859
TV Dramas                    762
Independent Movies           756
Children & Family Movies     641
Romantic Movies              616
Name: count, dtype: int64

In [31]:
#Step 4: Export Data for Power BI
# Export cleaned dataset
df.to_csv('cleaned_netflix_dataset.csv', index=False)

In [32]:
# Export summary tables
df['year_added'].value_counts().sort_index().reset_index().rename(
    columns={'index': 'year', 'year_added': 'content_count'}
).to_csv('content_by_year.csv', index=False)

df['country'].value_counts().reset_index().rename(
    columns={'index': 'country', 'country': 'content_count'}
).to_csv('content_by_country.csv', index=False)

df['rating'].value_counts().reset_index().rename(
    columns={'index': 'rating', 'rating': 'content_count'}
).to_csv('content_by_rating.csv', index=False)

df['director'].value_counts().reset_index().rename(
    columns={'index': 'director', 'director': 'content_count'}
).head(20).to_csv('top_directors.csv', index=False)

all_genres.value_counts().reset_index().rename(
    columns={'index': 'genre', 'listed_in': 'content_count'}
).head(20).to_csv('top_genres.csv', index=False)

print("\n‚úÖ Cleaned dataset and summary CSVs exported successfully!")
print("Files created: ")
print("- cleaned_netflix_data.csv")
print("- content_by_year.csv")
print("- content_by_country.csv")
print("- content_by_rating.csv")
print("- top_directors.csv")
print("- top_genres.csv")

‚úÖ Cleaned dataset and summary CSVs exported successfully!
Files created:
- cleaned_netflix_data.csv
- content_by_year.csv
- content_by_country.csv
- content_by_rating.csv
- top_directors.csv
- top_genres.csv

In [33]:
import os
print("File saved at:", os.path.abspath("cleaned_netflix_data.csv"))

File saved at: C:\Users\kriti\cleaned_netflix_data.csv